<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="card mt-3 mb-3">

                <div class="card-header bg-light">
                    <h1 class="display-5  fw-bold " style="color:rgb(0, 98, 211);"> Welcome to Online Test Apllication</h1>
                </div>

                <div class="card-body">
                    <p class="col-md-8 fs-4">This application enables
                            users to take online tests, review them, and display the results at the same time.<br>
                    </p>
                    <h4 style="color:rgb(0, 98, 211);">Quiz Rules:</h4>
                    <ol>
                        <li> Each correct answer gives you 10 points and each incorrect answer will result in -10 points.</li>
                        <li> You will have 60 seconds to answer each question.</li>
                        <li> Refreshing the Page will reset the Quiz and you have to start from the beginning.
                        </li>
                    </ol>
                </div>
                <div class="card-footer bg-light text-center">
                    <h1 style="font-family:Georgia, 'Times New Roman', Times, serif;">All the Best...!!!</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="name col-md-4 my-3">
        <label> <b>Enter your name </b></label>
        <input #name type="text" class="form-control" placeholder="Enter your name here">
    </div>
    <div class="container">
        <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start Quiz</button>
    </div>

</div>

<div class="card text-center">
    <!-- <div class="card-header badge-secondary">
        <p class="card-text"><b>Owned By © 2022 Copyright: By </b><a style="color:whitesmoke;"
                href="#!">OnlineTestApplication.com</a>
    </div> -->
</div>